body{
  background-color: white;
  color: black;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: lighter;
 
}

.card-body{

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: lighter;

}

h6{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  padding: 3%;
}

.card-title:hover{
  cursor:pointer ;
  color:red;

}
.arrow:hover{
  cursor:pointer ;
  color:red;

}
.details{
  height: 22rem;
  margin-left: 20px;
 
  
}

.desc{
  text-align: left;
  margin-left: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: lighter;

}
.downloadLink{
  display: inline;
}
.card-img-top{
  width:25rem;
  height:22rem;
  }

.card-img-top1{

  width:100%;
  height:22rem;

}

.card-img-top2{

  width:100%;
  height:100%;

}


p{
  display:flex;
 

}

.card-title{

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  vertical-align: middle;
  margin-top: auto ;
  margin-bottom: auto;
  padding: 19px;
  font-size: 20px;
  font-weight: lighter;
  

}

.card-title1{

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  vertical-align: middle;
  margin-top: auto ;
  margin-bottom: auto;
  padding: 2px;
  font-size: 20px;
  font-weight: lighter;

}

a.href{

  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
}


.title1{

  text-align: center;
  font-size:larger;
  padding-top: 25px;
  padding-bottom: 0px;
  color:red;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
 
.navbar-nav{

  text-align: center;
}
.tabTitle{
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  margin: 2px;
  text-align: center;
  
 
  
  
}

li{

  list-style-type: none;
  margin:10px;
}
.cc {

  display: flex;

}
.component{
  width:22%;
  background-color: rgb(110, 112, 114,0);
  padding: 20px;
  margin-right:auto ;
  display: inline-block;

}
.arrow{
  position: relative;
  position: relative;
  float: right;
  font-size: larger;
  margin-right: 10px;

  
}
.content{
  width:100%;
}
.card{

  width: 25rem;
  box-shadow: 0 0 12px 0 rgba(119, 117, 117, 0.938);

}
.aboutDetails{
  width: 29rem;
  box-shadow: 0 0 12px 0 white;
  margin: 30px;
}
.largecard{
  width:100%;
  margin-bottom: 20px;
}

.actualContent > .card{

  flex: 1 1 29rem;
  margin: 15px;

}


.actualContent{
  width:78%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-left: auto;
  
  

}
.name{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  color:black;
}

hr{
 border: solid rgb(110, 112, 114) 2px;
}
.printStatement{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 800px) {
  .printStatement{
    padding-top: 20px;
    padding-left: 20px;
    font-size:14px ;
  }

  .cc{
    display: block;
  }
  .component{
    display: block;
    width: 100%;
    text-align: center;
  }
  .actualContent{
    display:block;
    width: 100%;

  }
  .braces{
    font-size: 75px;
    font-weight: lighter;
  }
  .name{
  
    display: inline-block;
    padding: 20px;
    font-size: 24px;
  }

  a{
    font-size:21px ;
    padding: 12px;
    padding-top: 15px;

  
  }
  .card{
    margin-left: auto;
    margin-right: auto;
  }
  .tabTitle{
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .printStatement{
    padding-top: 30px;
    padding-left: 30px;
    font-size:30px ;
  }
  a{
    font-size:28px ;
    padding: 19px;
    padding-top: 22px;


  
  }


  .card{
    margin-left: auto;
    margin-right: auto;
  }
  .braces{
    font-size: 120px;
    font-weight: lighter;
  }
  .name{
  
    display: inline-block;
    padding: 30px;
    font-size: 40px;
  }


}
h5{
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {


  .title{

    margin-left: 5%;
    margin-right: 2%;
    
    }
  
.printStatement{
  padding-top: 40px;
  font-size:25px ;
}

.braces{
  font-size: 190px;
  font-weight: 50;
}
.name{

  display: inline-block;
  padding: 40px;
  font-size: 70px;
}
a{
  font-size:32px ;
  
  padding: 22px;
  padding-top: 26px;


}
}