body{
  background-color: white;
  color: black;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: lighter;
 
}

.card-body{

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;


}


h6{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  padding: 2%;
}

.card-title:hover{
  cursor:pointer ;
  color:red;

}
.arrow:hover{
  cursor:pointer ;
  color:red;

}
.details{
  height: 320px;
  margin-left: 20px;
 
  
}
h3{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.desc{
  text-align: left;
  margin-left: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: lighter;
  height:100%;

}
.downloadLink{
  display: inline;
}
.card-img-top{
  width:330px;
  height:320px;
  }

.card-img-top1{

  width:330px;
  height:320px;

}

.card-img-top2{

  width:100%;
  height: 100%;

}


p{
  display:flex;
 

}
p.tabTitle{
  display: inline;
}

.card-title{

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  vertical-align: middle;
  margin-top: auto ;
  margin-bottom: auto;
  padding: 19px;
  font-size: 20px;
  font-weight: lighter;
  

}

.card-title1{

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  vertical-align: middle;
  margin-top: auto ;
  margin-bottom: auto;
  padding: 2px;
  font-size: 20px;
  font-weight: lighter;

}

a.href{

  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
}


.title1{

  text-align: center;
  font-size:larger;
  padding-top: 25px;
  padding-bottom: 0px;
  color:red;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
 
.navbar-nav{

  text-align: center;
}
p.tabTitle{
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  margin: 2px;
  text-align: center;
  
  
 
  
  
}

li{

  list-style-type: none;
  margin:10px;
}
.cc {

  display: flex;

}
.component{
  width:20%;
  background-color: rgb(110, 112, 114,0);
  text-align: center;
  margin-left: auto;
  margin-right: auto;



}
.arrow{
  position: relative;
  position: relative;
  float: right;
  font-size: larger;
  margin-right: 10px;

  
}
.content{
  width:100%;
}
.card{

  width: 330px;
  box-shadow: 0 0 12px 0 rgba(119, 117, 117, 0.938);
  

}
.uniCard{
  width:330px;
  height:320px;
}
.aboutDetails{
  box-shadow: 0 0 12px 0 white;
  margin: 30px;
}
.largecard{
  width:100%;
  margin-bottom: 20px;
}

.actualContent > .card{

  flex: 1 1 1;
  margin: 15px;

}


.actualContent{
  width:75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-left: auto;
  
  

}
.name{
  font-family: Georgia, 'Times New Roman', Times, serif;

  color:black;
}

hr{
 border: solid rgb(110, 112, 114) 2px;
}
.printStatement{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 768px) {
 

  .cc{
    display: block;
  }
  .component{
    width: 100%;

  }
  .actualContent{
    
    width: 100%;

  }
  p{
    padding: 12px;
    font-size: 13px;
    
  }

  .card-title{
    font-size: 18px;
  }
  a{
    font-size:21px ;
    padding: 12px;
    padding-top: 15px;

  
  }
  .card{
    margin-left: auto;
    margin-right: auto;
  }
  p.tabTitle{
    text-align: center;
    font-size: 25px;
    margin: 0 auto 0 auto;
    padding-top: 10px;
  
  }

  .printStatement{
    font-size: 8px;
  }

  .braces{
    font-size: 70px;
    font-weight: lighter;
  }
  .name{
  

    padding: 5px;
    font-size: 17px;
    display: inline-block;
  }
 

}

@media only screen and (min-width:768px) and (max-width: 1200px) {

  a{
    font-size:28px ;
    padding: 19px;
    padding-top: 22px;

  }


  .card{
    margin-left: auto;
    margin-right: auto;
  }
  .braces{
    font-size: 130px;
    font-weight: lighter;
  }
  .name{
  
    display: inline-block;
    padding: 30px;
    font-size: 40px;
  }
  .title{
    text-align: center;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .printStatement{
    font-size: 17px;
  }

  .cc{
    display: block;
  }
  .component{
    width: 100%;
    padding-bottom: 20px;

  }
  .actualContent{
    width: 100%;
    padding-bottom: 0px;
   
  }

  h5{
    text-decoration: none;
  }


}


@media only screen and (min-width: 1200px) {


  .title{
    margin-left: auto;
    margin-right: auto;
    
    }
  
.printStatement{
  padding-top: 40px;
  font-size:25px ;
}

.braces{
  font-size: 190px;
  font-weight: 50;
}
.name{

  display: inline-block;
  padding: 30px;
  font-size: 50px;
}
a{
  font-size:32px ;
  
  padding: 22px;
  padding-top: 26px;


}
.tabTitle{
  display: inline;
}



}